@charset "UTF-8";

/* header */
.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url("../images/bg-header.gif") repeat-x;
  box-shadow: 0 0 10px 1px #e3e3d3;
}

.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url("../images/logo.png") no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.logo a {
  display: block;
  width: 100%;
  height: 100% ;
}

/* main contents */
.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block; /* for IE */
  width: 660px;
  height: 50px;
  float: left;
  background-color: blue;
}

.sidemenu {
  width: 275px;
  height: 50px;
  float: right;
  background-color: green;
}

/* footer */
.footer {
  width: 100%;
  height: 50px;
  background-color: black;
}
